.header {
  width: 100%;
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #77002e;
  padding: 0 10%;
  box-sizing: border-box;
}

.logo {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 3rem;
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fcb8d2;
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: white;
}



@media (max-width: 768px) {
  .header nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 5rem;
    left: 0;
    background-color: #77002e;
    z-index: 100;
  }



  .header.menu-open nav ul {
    display: flex;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 10%;
    top: 20px;
  }

  .header li {
    text-align: center;
    padding: 1rem;
  }
}

/* Styling for the navigation brand/link */
.logo {
  text-decoration: none;
  color: #fff;
  background-color: #333;
  padding: 0.5em 1em;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.logo:hover {
  background-color: #555; /* Darken the brand/link on hover */
}