/* src/pages/LandingPage.css */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

body, html {
  height: 100%;
  margin: 0;
  background: linear-gradient(to right, #f5bcc5 0%,#ffe6fae3 100%);
  font-family: 'Montserrat', sans-serif;
}

.landingcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  text-align: center;
  padding: 20px;
  background: none; /* Makes the container transparent */
}

.landingtitle {
  font-weight: 700;
  font-size: 6rem; /* Larger font size for the title */
  margin: 0;
  animation: fadeIn 1s ease-out forwards;
}

.landingsubtitle {
  font-weight: 300; /* Lighter weight for a more elegant look */
  font-size: 2rem; /* Larger font size for readability */
  margin-top: 20px; /* Spacing between title and subtitle */
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 0.5s; /* Delays the fade in effect for subtitle */
}

/* Animation keyframes for fading in the elements */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  .landingtitle {
    font-size: 3.5rem; /* Slightly smaller font size on mobile */
  }

  .landingsubtitle {
    font-size: 1.5rem; /* Adjust subtitle font size for mobile */
  }
}

@media (max-width: 480px) {
  .landingtitle {
    font-size: 2.5rem;
  }
  .landingsubtitle {
    font-size: 1.2rem;
  }
}
